.SelectWrap {
  --input-padding-right: 30px;
  align-items: center;
  display: inline-flex;
  position: relative;

  &__Icon {
    color: #7393bd;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    pointer-events: none;
    position: absolute;
    right: 9px;
    user-select: none;
    
    transition-duration: 0.1s;
    transition-property: color;
  }

  > select {
    width: 100%;

    &:hover {
      & + .SelectWrap__Icon {
        color: #0f61e7;
      }
    }
  }
}