button.button--link {
	background: transparent;
	border: none;
	cursor: pointer;
	font-family: "Inter";
  font-size: 14px;
	margin: 0;
	padding: 0;
}

button.button--flow {
	---color: #7393bd;
	background: transparent;
	border: none;
	color: var(---color);
	cursor: pointer;
	font-family: inherit;
  font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;

	transition-duration: 0.1s;
	transition-property: color;

	&:hover {
		---color: #0f61e7;
	}
}
