.CliOptionWrap {
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;

  &__Summary {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 6px 0;

    > p {
      margin: 0;
      padding: 0;
    }

    > ol, ul {
      margin: 0;
    }
  }

  > legend {
    padding: 0;

    > code {
      color: #241500;
      font-family: "Inconsolata";
      font-size: inherit;
      font-weight: 500;
    }
  }

  & + .CliOptionWrap {
    margin-top: 24px;
  }
}
